
{% block form_help -%}
    {%- if help is not empty -%}
        {%- set help_attr = help_attr|merge({class: (help_attr.class|default('') ~ ' help-text')|trim}) -%}
        <{{ element|default('small') }} id="{{ id }}_help"{% with { attr: help_attr } %}{{ block('attributes') }}{% endwith %}>
            {{- block('form_help_content') -}}
        </{{ element|default('small') }}>
    {%- endif -%}
{%- endblock form_help %}

 {% form_theme form _self %} 
 {%- block form_row -%} 
      {%- set widget_attr = {attr: {'class': "input input-bordered input-sm w-full max-w-xs"}} -%}
 
    <div class="form-group"> 
        {{- form_label(form) -}} 
        {{- form_errors(form) -}} 
        {{- form_widget(form, widget_attr) -}} 
        {{- form_help(form) -}} 
    </div> 
{%- endblock form_row -%} 