<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
{% import "components/web_components.html.twig" as web %}
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Symfony Demo application{% endblock %}</title>
    <link rel="alternate" type="application/rss+xml" title="{{ 'rss.title'|trans }}" href="{{ path('blog_rss') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <style>
            .login-container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }
        </style>
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

<body id="{% block body_id %}{% endblock %}">
{% block main %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    <div class="container login-container" {{ stimulus_controller('login') }}{# @see assets/controllers/login-controller.js #}>

        <form action="{{ path('security_login') }}" method="post">
            <div class="md-card">
                <div class="md-card-header"> {{ 'title.login'|trans }}
                </div>
                <div class="form-group">
                    <label for="username">{{ 'label.username'|trans }}</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}"
                           class="form-control" {{ stimulus_target('login', 'username') }} />
                </div>

                <div class="form-group form-group-password">
                    <label for="password">{{ 'label.password'|trans }}</label>
                    <input type="password" id="password" name="_password"
                           class="form-control" {{ stimulus_target('login', 'password') }} />
                    <button class="btn btn-primary pull-right"
                            type="button" {{ stimulus_action('login', 'togglePasswordInputType') }}><i
                                class="fa fa-eye"></i></button>
                </div>

                <div class="form-group">
                    <input type="checkbox" name="_remember_me" checked/>
                    <div>
                        Keep me logged in
                    </div>
                </div>
                <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                <md-filled-button type="submit">
                    <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'action.sign_in'|trans }}
                </md-filled-button>
            </div>
        </form>
    </div>

{% endblock %}


</body>
</html>
