{% extends 'base.html.twig' %}
{# {% form_theme form _self %} #}
{# {%- block form_row -%} #}
{#    {%- set widget_attr = {} -%} #}
{#    {%- if help is not empty -%} #}
{#        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%} #}
{#    {%- endif -%} #}
{#    <div class="form-group"> #}
{#    {{- form_label(form) -}} #}
{#    {{- form_errors(form) -}} #}
{#    {{- form_widget(form, widget_attr) -}} #}
{#    {{- form_help(form) -}} #}
{#    </div> #}
{# {%- endblock form_row -%} #}
{# {% block form_label %} #}
{#    <div style="background: red"> #}
{#        <li>{{ label }}</li> #}
{#    </div> #}

{# {% endblock %} #}
{% block body_id 'user_edit' %}
{% block body %}
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                    role="tab" aria-controls="home" aria-selected="true">Home
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                    role="tab" aria-controls="profile" aria-selected="false">Contact
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
                    role="tab" aria-controls="contact" aria-selected="false">Address
            </button>
        </li>
    </ul>
    {{ form_start(form) }}

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel"
             aria-labelledby="home-tab">    {{ form_row(form.name) }}
            {{ form_row(form.shortName) }}
            {{ form_row(form.remarks) }}
            {{ form_row(form.country) }}
            {{ form_row(form.cocNumber) }}
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <ul class="contacts" data-index="{{ form.contacts|length > 0 ? form.contacts|last.vars.name + 1 : 0 }}"
                data-prototype="{{ form_widget(form.contacts.vars.prototype)|e('html_attr') }}">
                {% for address in form.contacts %}
                    <li>{{ form_row(address.firstName) }}</li>
                    <li>{{ form_row(address.lastName) }}</li>
                    <li>{{ form_row(address.email) }}</li>
                    <li>{{ form_row(address.gender) }}</li>
                    <li>{{ form_row(address.telephone) }}</li>
                    <li>{{ form_row(address.initials) }}</li>
                {% endfor %}
                <button type="button" class="add_item_link btn btn-danger" data-collection-holder-class="addresses">New Contact
                </button>
{#                {{ form_widget(form.contacts.vars.button_add, {label: '+ Add Item', attr: {class: 'btn btn-outline-primary'}}) }}#}
            </ul>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <ul class="addresses" data-index="{{ form.addresses|length > 0 ? form.addresses|last.vars.name + 1 : 0 }}"
                data-prototype="{{ form_widget(form.addresses.vars.prototype)|e('html_attr') }}">
                {% for address in form.addresses %}
                    <li>{{ form_row(address.name) }}</li>
                    <li>{{ form_row(address.addressLine1) }}</li>
                    <li>{{ form_row(address.addressLine2) }}</li>
                    <li>{{ form_row(address.pinCode) }}</li>
                    <li>{{ form_row(address.country) }}</li>
                    <li>{{ form_row(address.city) }}</li>
                {% endfor %}
{#                <button type="button" class="add_item_link btn btn-danger" data-collection-holder-class="addresses">Add#}
{#                    a Address#}
{#                </button>#}
            </ul>
        </div>
    </div>
    <div>
        <div class="columns">
            <button class="btn btn-secondary" type="submit">
                <i class="fa fa-save" aria-hidden="true"></i>
                {{ 'action.save'|trans }}
            </button>
        </div>

    </div>
    {{ form_end(form) }}

    <script>
        const addFormToCollection = (e) => {
            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

            const item = document.createElement('li');

            item.innerHTML = collectionHolder.dataset.prototype.replace(/__name__/g, collectionHolder.dataset.index);

            collectionHolder.appendChild(item);

            collectionHolder.dataset.index++;

            addTagFormDeleteLink(item);

        };
        document.querySelectorAll('.add_item_link').forEach(btn => {
            btn.addEventListener("click", addFormToCollection)
        });

        document.querySelectorAll('ul.tags li').forEach((tag) => {
            addTagFormDeleteLink(tag)
        })


        const addTagFormDeleteLink = (item) => {
            const removeFormButton = document.createElement('button');
            removeFormButton.innerText = 'Delete this tag';

            item.append(removeFormButton);

            removeFormButton.addEventListener('click', (e) => {
                e.preventDefault();
// remove the li for the tag form
                item.remove();
            });
        }
    </script>{% endblock %}
{% block sidebar %}
    <div class="section">
        <a href="{{ path('user_change_password') }}" class="btn btn-lg btn-block btn-danger">
            <i class="fa fa-lock" aria-hidden="true"></i>
            {{ 'action.change_password'|trans }}
        </a>
    </div>

    {{ parent() }}

    {{ show_source_code(_self) }}{% endblock %}

