{% extends 'base.html.twig' %}
{# {% form_theme form _self %} #}
{# {%- block form_row -%} #}
{#    {%- set widget_attr = {} -%} #}
{#    {%- if help is not empty -%} #}
{#        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%} #}
{#    {%- endif -%} #}
{#    <div class="form-group"> #}
{#    {{- form_label(form) -}} #}
{#    {{- form_errors(form) -}} #}
{#    {{- form_widget(form, widget_attr) -}} #}
{#    {{- form_help(form) -}} #}
{#    </div> #}
{# {%- endblock form_row -%} #}
{# {% block form_label %} #}
{#    <div style="background: red"> #}
{#        <li>{{ label }}</li> #}
{#    </div> #}

{# {% endblock %} #}
{% block body_id 'user_edit' %}
{% block body %}
    <twig:RelationForm  :form="form" :relation="relation"/>
 {% endblock %}
{% block sidebar %}
    <div class="section">
        <a href="{{ path('user_change_password') }}" class="btn btn-lg btn-block btn-danger">
            <i class="fa fa-lock" aria-hidden="true"></i>
            {{ 'action.change_password'|trans }}
        </a>
    </div>

    {{ parent() }}

    {{ show_source_code(_self) }}{% endblock %}

