{% extends 'base.html.twig' %}
{% block body %}

<div class="text-sm breadcrumbs">
  <ul>
    <li><a>Relation</a></li> 
    <li><a>Documents</a></li> 
    <li>Add Document</li>
  </ul>
</div>
  <div class="overflow-x-auto">
  <table class="table table-xs table-zebra">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Short name</th>
                <th scope="col">Email</th>
                <th scope="col">Currency</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for relation in relations %}
                <tr class="table-active">
                    <th scope="row">{{ relation.name }}</th>
                    <td>{{ relation.shortName }}</td>
                    <td>{{ relation.email }}</td>
                    <td>{{ relation.currency.code }}</td>
                    <td><a class="btn btn-sm btn-primary" href="{{ path('relation_edit', {id: relation.id}) }}">view </a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}