<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
{% import "components/web_components.html.twig" as web %}
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Symfony Demo application{% endblock %}</title>
    <link rel="alternate" type="application/rss+xml" title="{{ 'rss.title'|trans }}" href="{{ path('blog_rss') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <style>
            body {
                display: grid;
                grid-template-areas:
                                    "nav header header"
                                    "nav article article"
                                    "nav footer footer";
                grid-template-rows: 80px 1fr 70px;
                grid-template-columns: 300px 1fr 15%;
                grid-row-gap: 10px;
                grid-column-gap: 10px;
                height: 100vh;
                margin: 0;
            }

            #pageHeader {
                grid-area: header;
                border:1px solid red ;
            }

            #pageFooter {
                grid-area: footer;
                border:1px solid blue ;

            }

            #main-content {
                grid-area: article;
                border:1px solid darkgreen ;

            }
            #mainNav {
                grid-area: nav;
                border:1px solid orange ;

            }

            /* Stack the layout on small devices/viewports. */
            @media all and (max-width: 575px) {
                body {
                    grid-template-areas:
                                      "header"
                                      "article"
                                      "nav"
                                      "footer";
                    grid-template-rows: 80px 1fr 70px 1fr 70px;
                    grid-template-columns: 1fr;
                }
            }
        </style>
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

<body id="{% block body_id %}{% endblock %}">

<header class="columns space-between" id="pageHeader">
    {% block header %}
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{{ path('blog_index') }}" class="nav-link px-2 link-secondary">Blog</a></li>
          <li><a href="{{ path('relation_new') }}" class="nav-link px-2 link-body-emphasis">Relation</a></li>
           {% if is_granted('ROLE_ADMIN') %}
          <li><a href="{{ path('admin_post_index') }}" class="nav-link px-2 link-body-emphasis">Admin Section</a></li>
           {% endif %}
          <li><a href="#" class="nav-link px-2 link-body-emphasis">Products</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>

        <div class="dropdown text-end">
             {% if app.user %}
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
            <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"
                           id="user">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span class="caret"></span>
                            <span class="sr-only">{{ app.user.fullname }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('user_edit') }}">
                            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'menu.user'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ logout_path() }}">
                            <i class="fa fa-sign-out" aria-hidden="true"></i> {{ 'menu.logout'|trans }}
                        </a>
                    </li>
          </ul>
           {% endif %}
        </div>
          <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Languages
        </button>
            <ul class="dropdown-menu">
                {% for locale in locales() %}
                        <li {% if app.request.locale == locale.code %}aria-checked="true" class="active"
                                    {% else %}aria-checked="false"{% endif %} role="menuitem">
                            <a href="{{ path(app.request.get('_route', 'blog_index'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}">{{ locale.name|capitalize }}
                                <small>{{ locale.code[0:2] }}</small></a>
                        </li>
                    {% endfor %}
            </ul>
        </div>
      </div>
    </div>
    {% endblock %}
</header>


<main id="main-content">
    {{ include('default/_flash_messages.html.twig') }}
    {% block body %}{% endblock %}
</main>
<footer id="pageFooter">
    {% block footer %}
    {% endblock %}
</footer>

<aside id="mainNav">
    {% block sideNav %}
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Sidebar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          Home
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
          Dashboard
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
          Orders
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
          Products
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          Customers
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle show" data-bs-toggle="dropdown" aria-expanded="true">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu text-small shadow show" data-popper-placement="top-start" data-popper-reference-hidden="" style="position: absolute; inset: auto auto 0px 0px; margin: 0px; transform: translate(0px, -34px);">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>
    {% endblock %}
</aside>


</body>
</html>
