<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
{% import "components/web_components.html.twig" as web %}
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Symfony Demo application{% endblock %}</title>
    <link rel="alternate" type="application/rss+xml" title="{{ 'rss.title'|trans }}" href="{{ path('blog_rss') }}">
    <style>
        body {
            display: grid;
            grid-template-areas:
                                    "nav header header"
                                    "nav article article"
                                    "nav footer footer";
            grid-template-rows: 60px 1fr 70px;
            grid-template-columns: 250px 1fr 15%;
            grid-row-gap: 10px;
            grid-column-gap: 10px;
            height: 100vh;
            margin: 0;
        }

        #pageHeader {
            grid-area: header;
        }

        #pageFooter {
            grid-area: footer;
        }

        #main-content {
            grid-area: article;
        }

        #mainNav {
            grid-area: nav;
        }
    </style>
    {% block stylesheets %}
    {% endblock %}
    {% block javascripts %}
        {% block importmap %}
            {{ importmap('app') }}
        {% endblock %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.6.2/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body id="{% block body_id %}{% endblock %}">

<header class="columns space-between" id="pageHeader">
    {% block header %}
        <div class="navbar bg-base-100">
            <div class="flex-1">
                <a class="btn btn-ghost text-xl">Cloud Erp </a>
            </div>
            <div class="flex flex-horizontal">

                <ul class="menu menu-horizontal px-1">
                    <li>
                        <details>
                            <summary>
                                Parent
                            </summary>
                            <ul class="p-2 bg-base-100 rounded-t-none">
                                {% for locale in locales() %}
                                    <li {% if app.request.locale == locale.code %}aria-checked="true" class="active"
                                        {% else %}aria-checked="false"{% endif %} role="menuitem">
                                        <a href="{{ path(app.request.get('_route', 'blog_index'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}">{{ locale.name|capitalize }}
                                            <small>{{ locale.code[0:2] }}</small></a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </details>

                    </li>
                </ul>
            </div>
            <div class="flex-none gap-2">
                <div class="form-control">
                    <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto"/>
                </div>
                <div class="dropdown dropdown-end">
                    {% if app.user %}
                        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                            <div class="w-10 rounded-full">
                                <img alt="Tailwind CSS Navbar component"
                                     src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg"/>
                            </div>
                        </div>
                        <ul tabindex="0"
                            class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
                            <li>
                                <a class="justify-between">
                                    Profile
                                    <span class="badge">New</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('user_edit') }}">
                                    <i class="fa fa-edit" aria-hidden="true"></i> {{ 'menu.user'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ logout_path() }}">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i> {{ 'menu.logout'|trans }}
                                </a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>

    {% endblock %}
</header>


<main id="main-content">
    {% block breadcrumbs %}
        <div class="text-sm breadcrumbs">
            <ul>
                <li><a>Subsidiary</a></li>
                <li><a>Documents</a></li>
                <li>Add Document</li>
                <li>
                    <twig:RelationDropdown></twig:RelationDropdown>
                </li>
            </ul>
        </div>
    {% endblock %}
    {{ include('default/_flash_messages.html.twig') }}
    {% block body %}{% endblock %}
</main>
<footer id="pageFooter">
    {% block footer %}
    {% endblock %}
</footer>

<aside id="mainNav">
    {% block sideNav %}
        <div class="drawer">
            <input id="my-drawer" type="checkbox" class="drawer-toggle"/>
            <div class="drawer-content">
                <!-- Page content here -->
                <label for="my-drawer" class="btn btn-primary drawer-button">Open drawer</label>
            </div>
            <div class="drawer-side">
                <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>


                <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
                    <div>
                        <img src="{{ asset('images/cloud-erp.png') }}">
                    </div>
                    <!-- Sidebar content here -->
                    <li><a href="{{ path('subsidiary_list') }}">Subsidiary</a></li>
                    <li><a href="{{ path('relation_list') }}">Relation</a></li>
                    <li><a href="{{ path('subsidiary_list') }}">Users</a></li>
                    <li><a href="{{ path('product_list') }}">Products</a></li>
                    <li><a href="{{ path('subsidiary_list') }}">Subsidiary</a></li>
                    <li><a>Sidebar Item 2</a></li>

                    <div class="dropdown w-100">
                        <div tabindex="0" role="button" class="btn m-1">Packaging</div>
                        <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                            <li><a>Item 1</a></li>
                            <li><a>Item 2</a></li>
                        </ul>
                    </div>

                </ul>
            </div>
        </div>
    {% endblock %}
</aside>
</body>
</html>
