<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
{% import "components/web_components.html.twig" as web %}
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Symfony Demo application{% endblock %}</title>
    <link rel="alternate" type="application/rss+xml" title="{{ 'rss.title'|trans }}" href="{{ path('blog_rss') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <style>
            body {
                display: grid;
                grid-template-areas:
                                    "nav header header"
                                    "nav article article"
                                    "nav footer footer";
                grid-template-rows: 80px 1fr 70px;
                grid-template-columns: 300px 1fr 15%;
                grid-row-gap: 10px;
                grid-column-gap: 10px;
                height: 100vh;
                margin: 0;
            }

            #pageHeader {
                grid-area: header;
                border:1px solid red ;
            }

            #pageFooter {
                grid-area: footer;
                border:1px solid blue ;

            }

            #main-content {
                grid-area: article;
                border:1px solid darkgreen ;

            }
            #mainNav {
                grid-area: nav;
                border:1px solid orange ;

            }

            /* Stack the layout on small devices/viewports. */
            @media all and (max-width: 575px) {
                body {
                    grid-template-areas:
                                      "header"
                                      "article"
                                      "nav"
                                      "footer";
                    grid-template-rows: 80px 1fr 70px 1fr 70px;
                    grid-template-columns: 1fr;
                }
            }
        </style>
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

<body id="{% block body_id %}{% endblock %}">

<header class="columns space-between" id="pageHeader">
    {% block header %}
        <div class="columns gap-md">
            {% block header_navigation_links %}
                <a href="{{ path('blog_index') }}">
                    <i class="fa fa-home" aria-hidden="true"></i> {{ 'menu.homepage'|trans }}
                </a>
                <a href="{{ path('relation_new') }}">
                    <i class="fa fa-home" aria-hidden="true"></i> {{ 'relation'|trans }}
                </a>

                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin_post_index') }}">
                        <i class="fa fa-lock" aria-hidden="true"></i> {{ 'menu.admin'|trans }}
                    </a>
                {% endif %}
            {% endblock %}
        </div>
        <div class="columns gap-md">
            {% set items %}
                {% for locale in locales() %}
                    <md-menu-item {% if app.request.locale == locale.code %}aria-checked="true" class="active"
                                  {% else %}aria-checked="false"{% endif %} role="menuitem">
                        <a href="{{ path(app.request.get('_route', 'blog_index'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}">{{ locale.name|capitalize }}
                            <small>{{ locale.code[0:2] }}</small></a>
                    </md-menu-item>
                {% endfor %}
            {% endset %}

            {{ web.Menu({id:'languages',items:items,label:'Choose language'}) }}
            {% if app.user %}
                {% set items %}

                    <md-menu-item>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"
                           id="user">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span class="caret"></span>
                            <span class="sr-only">{{ app.user.fullname }}</span>
                        </a>
                    </md-menu-item>
                    <md-menu-item>
                        <a href="{{ path('user_edit') }}">
                            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'menu.user'|trans }}
                        </a>
                    </md-menu-item>
                    <md-menu-item>
                        <a href="{{ logout_path() }}">
                            <i class="fa fa-sign-out" aria-hidden="true"></i> {{ 'menu.logout'|trans }}
                        </a>
                    </md-menu-item>

                {% endset %}
                {{ web.Menu({id:'user-menu',items:items,label:app.user.fullname}) }} {% endif %}
        </div>
    {% endblock %}
</header>


<main id="main-content">
    {{ include('default/_flash_messages.html.twig') }}
    {% block body %}{% endblock %}
</main>
<footer id="pageFooter">
    {% block footer %}
    {% endblock %}
</footer>

<aside id="mainNav">
    {% block sideNav %}
    {% endblock %}
</aside>


</body>
</html>
