
<div
        {{ attributes }}
>
    {{ form_start(form) }}
      <div role="tablist" class="tabs tabs-lifted">
        <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Generic information" />
        <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
            {{ form_row(form.name) }}
            {{ form_row(form.shortName) }}
            {{ form_row(form.cocNumber) }}
            {{ form_row(form.country) }}
            {{ form_row(form.remarks) }}
        </div>

        <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Contract " checked />
        <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">

            <table class="table table-borderless form-no-mb">
                <thead>
                <tr>
                    <td>Initials</td>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Email</td>
                    <td>Gender</td>
                    <td>Telephone</td>
                    <td>{{  'label.role'|trans }}</td>
                </tr>
                </thead>
                <tbody>
                {% for key, contact in form.contacts %}
                    <tr>
                        <td>
                            {{ form_row(contact.initials,{
                                label:false,
                            }) }}
                        </td>
                        <td>
                            {{ form_row(contact.firstName,{
                                label:false,
                            }) }}
                        </td>

                        <td>
                            {{ form_row(contact.lastName,{
                                label:false,
                            } ) }}
                        </td>
                        <td>
                            {{ form_row(contact.email,{
                                label:false,
                            }) }}
                        </td>
                        <td>
                            {{ form_row(contact.gender,{
                                label:false,
                            }) }}
                        </td>
                        <td>
                            {{ form_row(contact.telephone,{
                                label:false,
                            }) }}
                        </td>
                        <td>
                            {{ form_row(contact.vars.button_delete, {label: 'X', attr: {class: 'btn btn-sm btn-error'}}) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            {{ form_widget(form.contacts.vars.button_add, {label: '+ Add Item', attr: {class: 'btn btn-outline-primary'}}) }}

            </table>

        </div>

        <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Address" />
        <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">

            <table class="table table-borderless form-no-mb">
                <thead>
                <tr>
                    <td>Name</td>
                    <td>Address line 1</td>
                    <td>Address line 2</td>
                    <td>Pin code</td>
                    <td>city</td>
                    <td>country</td>
                    <td>{{  'label.action'|trans }}</td>
                </tr>
                </thead>
                <tbody>
                {% for key, address in form.addresses %}
                    <tr>
                        <td>
                            {{ form_row(address.name,{
                                label:false,
                            }) }}
                        </td>
                        <td>
                            {{ form_row(address.addressLine1,{
                                label:false,
                            }) }}
                        </td>

                        <td>
                            {{ form_row(address.addressLine2,{
                                label:false,
                            } ) }}
                        </td>
                        <td>
                            {{ form_row(address.pinCode,{
                                label:false,
                            }) }}
                        </td>
                        <td>
                            {{ form_row(address.city,{
                                label:false,
                            }) }}
                        </td>
                        <td>
                            {{ form_row(address.country,{
                                label:false,
                            }) }}
                        </td>
                        <td>
                            {{ form_row(address.vars.button_delete, {label: 'X', attr: {class: 'btn btn-sm btn-error'}}) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ form_widget(form.addresses.vars.button_add, {label: '+ Add Item', attr: {class: 'btn btn-outline-primary'}}) }}

        </div>
    </div>





    <button type="submit" class="btn btn-success" formnovalidate>Save</button>
   
    {{ form_end(form) }}
</div>
